<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zoo.Properties.Settings.DBConnect" connectionString="Data Source=GEORGI_Y\SQLEXPRESS;Initial Catalog=ZooData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>