<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooDB.Properties.Settings.DBconnect" connectionString="Data Source=DESKTOP-LT3U7Q6\MSSQLSERVER01;Initial Catalog=Zoo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>